<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Storybook</h1>
            <div class="write">
                <a href="/new-entry">
                    <span>
                        <img src="./icon/184184-200.png" alt="writer">
                    </span>
                    <p>Write your story</p>
                </a>
            </div>
        </header>

